
PORT=3000
NODE_ENV=development
FRONTEND_URL=http://localhost:5173

# ==== Base de données ====
# DB_TYPE=sqlite -> fichier local 
# DB_TYPE=postgres -> nécessite les variables DB_HOST, DB_PORT, DB_USER, DB_PASSWORD, DB_NAME
DB_TYPE=sqlite
DB_SQLITE_PATH=cinema.sqlite

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=cinema_db

# ==== JWT ====
JWT_SECRET=change_this_super_secret_key_in_production
JWT_EXPIRES_IN=1d

# ==== API externe (OpenWeather) ====
# Crée une clé gratuite sur https://openweathermap.org/api
OPENWEATHER_API_KEY=your_openweather_api_key_here
OPENWEATHER_DEFAULT_CITY=Dakar

# ==== Compte admin créé par le script de seed ===
SEED_ADMIN_EMAIL=admin@pathe-cinema.com
SEED_ADMIN_PASSWORD=Admin123!
